form {
    display: flex;

    align-items: center;
    height: 100vh;
    flex-direction: column;
}
input{
    height: 30px;
}
#submit{
    height: 34px;
    width: 109px;
    color: #fff;
    cursor: pointer;
    text-align: center;
    border: 0;
    background:#55aaff;
    line-height: 32px;
}