<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!-- 配置类型转换器工厂 -->
    <bean id="converterService" class="org.springframework.context.support.ConversionServiceFactoryBean">
        <!-- 给工厂注入一个新的类型转换器，配置自定义类型转换器 -->
        <property name="converters">
            <array>
                <bean class="com.wut.mvc.utils.DateConverter"/>
            </array>
        </property>
    </bean>
    <!-- 指定使用定制的converts-->
    <mvc:annotation-driven conversion-service="converterService"/>
</beans>